.control_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  /* background-color: aquamarine; */
}

.control_form label {
  margin-bottom: 0.6em;
  font-size: 1.4em;
  font-weight: 600;
}

.control_form select {
  height: 36px;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
}
